name: Build PlatformIO

on:
  workflow_dispatch:
  pull_request:
  push:
    paths:
      - "src/**"
      - "examples/**"
      - ".github/workflows/platformio.yml"
      - "platformio.ini"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example:
          [
            examples/AdjustBacklight,
            examples/BatteryVoltage,
            examples/lv_benchmark,
            examples/lv_factory,
            examples/lv_helloworld,
            examples/lv_gif,
            examples/lv_images,
            examples/lv_music,
            examples/lv_qrcode,
            examples/RGBPanel,
            examples/TFT_eSPI_Sprite,
            examples/Touchpad,
          ]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio


      - name: Run PlatformIO
        run: pio run
        env:
          PLATFORMIO_SRC_DIR: ${{ matrix.example }}
